*.retry
*~
*venv
aws_credentials*
*password*
\#*
*environment
*postfix
.#*
*.dat
*.pub
gpgtemp
keys/
build
*.log
dump.sql*
*.pri
mockstmp
.anslk_*
.prepare*
test-config*
__pycache__
.mypy_cache
*.gpg
bin/backup_encrypt
*.pyc
dist
MANIFEST
deploy_key
deploy_key.bck
encrypted_build_files
encrypted_build_files.tjz
*.egg-info
*.makestamp
